.container-fluid {
    background-color: #9db0a4;
}

h1 {
    padding: 40px;
    color: #3e516b;
    font-size: 100px;
}

.card-title {
    background-color: #a2b4c5;
    margin: 0;
}

.card-title h4, .card-title h5 {
    padding: 0;
    margin: 0;
}

